{{>layout/header}}
<div class="container">
    <div class="jumbotron">
        <h1>{{post.title}}</h1>
    </div>
    <p class="lead">    {{post.content}}</p>
    <a href="/" role="button" class="btn btn-secondary">Go Back</a>
</div>

{{>layout/footer}}